img{
    width: 360px;
    height: 240px;
}

.game{
    width: 1800px;
    height: 1200px;

}

.card{
    float: left;
    margin: 5px;
    height: 240px;
    width: 360px;
    background: red;
}

body{
    background-image: url("Images/background picture.jpg");
}

h1{
    color: white;
}

p {
    color: white;
}