img{
    width: 180px;
    height: 120px;
}

.game{
    width: 900px;
    height: 600px;

}

.card{
    float: left;
    margin: 5px;
    height: 120px;
    width: 180px;
    background: red;
}

body{
    background-image: url("Images/background picture.jpg");
}

h1{
    color: white;
}

p {
    color: white;
}